<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 2vw;
        }
    </style>
</head>

<body>
    Users registered are:

    <ul>
        <% data.forEach((item)=>{%>
            <li>
                <%=item.name%>
            </li>
            <%});%>
    </ul>
</body>

</html>